body{
    padding:0;
    margin:0;
    box-sizing:border-box;
} 
.container-for-scroll{
display:flex;
justify-content:center;
align-items: center;
background-color: #f9f9f9;
height:100vh;

} 
.horizontal-scroll {
    width:600px;
    height:800px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius:5px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;

}

.cuisines-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left:0;

}

.cuisine-circle {
    background: linear-gradient(rgb(231, 195, 184), rgba(255,115,0));
    width: 60px;
    height:60px;
    margin:15px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
} */
/* 
.cuisine-circle img {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid #fff;

}

.horizontal-scroll .btn-scroll {
    background: #fff;
    color: #999;
    box-shadow: 0 0 10px #999;
    padding: 5px 8px;
    border: 0;
    border-radius: 50%;
    margin:0px 5px;
    z-index: 1;
    cursor: pointer;
}