
.container{
    overflow:auto;
    padding-right:5px;
    padding-left:5px;
    margin-left:auto;
    margin-right:auto;

}
.title-above-carousel-slide {
    padding-left:10px;
    padding-right:10px;
    margin-top: 1rem;
    margin-bottom: 0.1rem;
}

/* overflow:auto solved the problem of .navbar div white space on the right end of page */
.recipe-cards{
    margin-left:auto;
    margin-right:auto;
    flex-direction: row;
    justify-content: flex-start;
}

/* Maybe I should set this div to fix contents */
.recipe-card-div{
    height:280px;
    width:280px;
    padding-left:10px;
    padding-right:10px;
    margin-bottom: 0.25rem;
    background-color: rgb(254, 254, 254);

}

.recipe-card-content-div{
    /* height:330px;
    width:300px; */
    height:100%;
    width:100%;
    padding:0;
    background-color: rgb(254, 254, 254);
}

.card-btn-div{
    font-size:small;
    margin: 1px;
    padding: 1px;
    position: absolute; 
    top: 4px;
    right: 4px;
    /* width: 24px; */
    /* height: 34px; */
    /* background: #d54215; */
    /* border-radius: 50%; */
}

.no-underline{
    text-decoration: none;
}

.recipe-img {
    border-radius: 0.25rem;
    height: 190px;
    /* padding: 0px; */
}

.save-remove-btn, .remove-btn{
    display:flex;
    justify-content: center;
    align-items:center;
    width:34px;
    height:34px;
    border-radius: 50%;
    background-color: rgb(246, 246, 237);
    border:0px;
}

.save-remove-btn:hover,.remove-btn:hover{
    background-color: rgb(207, 207, 199);
}

.bi-heart, .bi-dash-circle{
    font-size:17px;
    color:rgb(227, 33, 33);
}
.bi-heart-fill{
    font-size:18px;
    color:rgb(253, 143, 143);
}

.card-title{
    margin-top: 8px;
    margin-bottom: 12px;
}

.card-body{
    padding:4px;
    height:20px;
}
.card-text{
    font-size:0.75rem;
}
.h5, h5 {
    font-size: 1rem;
}
h4{
    font-size: 1.25rem;
}


/* Below Chunk for carousel slide for recipe cards */
/* body{
    padding:0;
    margin:0;
    box-sizing:border-box;
}  */
.recipe-card-container-for-scroll {
    /* display:flex;
    justify-content:center;
    align-items: center;
    background-color: #f9f9f9;
    height:100vh; */
    padding: 5px;
    margin:5px;
    /* width:98vw; */
    position:relative;
    } 
    
.recipe-card-horizontal-scroll {
    /* width:900px; */
    /* width:96vw; */
    height: 320px;
    background-color: #fff;
    border: 1px solid rgb(230, 230, 230);
    border-radius:5px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;

}

.recipes-cards-slide-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left:0;

}

.recipe-card-div-in-carousel {
    margin:10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
} 


.recipe-card-horizontal-scroll .btn-scroll {
    background: #fff;
    color: #999;
    box-shadow: 0 0 10px #999;
    padding: 5px 8px;
    border: 0;
    border-radius: 50%;
    margin:0px 5px;
    z-index: 1;
    cursor: pointer;
}

/* Below Chunk for carousel slide for browse by cuisines */
.browse-by-cuisines-container-for-scroll, .browse-by-specialdiets-container-for-scroll, .browse-by-courses-container-for-scrol{
    /* display:flex;
    justify-content:center;
    align-items: center;
    background-color: #f9f9f9;
    height:100vh; */
    padding: 5px;
    margin:5px;
    /* width:98vw; */
    position:relative;
    } 
.browse-by-cuisines-horizontal-scroll,.browse-by-specialdiets-horizontal-scroll, .browse-by-courses-horizontal-scroll {
    /* width:900px; */
    /* width:96vw; */
    height: 155px;
    background-color: #fff;
    border: 1px solid rgb(230, 230, 230);
    border-radius:5px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;

}

.cuisines-container, .specialdiets-container, .courses-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left:0;

}

.cuisine-circle,.specialdiet-circle, .course-circle {
    /* background: linear-gradient(rgb(231, 195, 184), rgba(255,115,0));
    width: 60px;
    height:60px; */
    margin:10px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
} 

.cuisine-circle img,.specialdiet-circle img, .course-circle img {
    width: 111px;
    height: 111px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.cuisine-circle a, .specialdiet-circle a, .course-circle a {
    text-align:center;
    font-size:14px;
}


.browse-by-cuisines-horizontal-scroll .browse-by-cuisines-btn-scroll, .browse-by-courses-horizontal-scroll .browse-by-courses-btn-scroll {
    background: #fff;
    color: #999;
    box-shadow: 0 0 10px #999;
    padding: 5px 8px;
    border: 0;
    border-radius: 50%;
    margin:0px 5px;
    z-index: 1;
    cursor: pointer;
}


/* the following Chunk for recipe detail page */
.recipe-title-author-description{
    margin-top:10px;
    margin-bottom: 10px;
    margin-left:auto;
    margin-right:auto;
    flex-direction: row;
    justify-content: flex-start;
}

.recipe-summary-img-save-btn{
    height:400px;
    /* padding-left:10px;
    padding-right:10px; */
    margin-bottom: 0.25rem;
    background-color: rgb(254, 254, 254);
    margin-left:auto;
    margin-right:auto;
    /* border:1px solid rgba(0,0,0,.125); */
    border-radius: 0.25rem;
    position:relative;
    display:flex;
    flex-direction: row-reverse;
    text-align: center;

}
.recipe-summary-img-save-btn img {
    /* width: 300px; */
    height: 360px;
    border-radius: 1%;
    border: 2px solid #fff;
}

.adjust-btn{
    background: rgb(255, 255, 255);
    color:rgba(0,0,0,.95);
    border:1.7px solid rgb(214, 44, 44);
    border-radius: 8%;

}
.adjust-btn:hover{
    background-color: rgb(192, 42, 42);
    color:rgb(255, 255, 255);
}

#servings-size-input{
    text-align: center;
    width: 70px;
}

.recipe-ingredient-li{
    padding: 7px;
    list-style: none;
}

