
.container{
    overflow:auto;
    padding-right:5px;
    padding-left:5px;
    margin-left:auto;
    margin-right:auto;

}
/* overflow:auto solved the problem of .navbar div white space on the right end of page */
.recipe-cards{
    margin-left:auto;
    margin-right:auto;
    flex-direction: row;
    justify-content: flex-start;
}

/* Maybe I should set this div to fix contents */
.recipe-card-div{
    height:260px;
    width:280px;
    padding-left:10px;
    padding-right:10px;
    margin-bottom: 0.25rem;

}

.recipe-card-content-div{
    /* height:330px;
    width:300px; */
    height:100%;
    width:100%;
    padding:0;
}

.card-btn-div{
    font-size:small;
    margin: 1px;
    padding: 1px;
    position: absolute; 
    top: 4px;
    right: 4px;
    /* width: 24px; */
    /* height: 34px; */
    /* background: #d54215; */
    /* border-radius: 50%; */
}


.recipe-img {
    border-radius: 0.25rem;
    height: 190px;
    /* padding: 0px; */
}

.save-remove-btn{
    display:flex;
    justify-content: center;
    align-items:center;
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color: rgb(247, 247, 237);
    border:0px;
}

.save-remove-btn:hover{
    background-color: rgb(225, 225, 213);
}

.bi-heart{
    color:rgb(227, 33, 33);
}
.bi-heart-fill{
    color:rgb(227, 33, 33);
}


#save-remove-btn:hover{
    background-color: rgb(225, 225, 213);
}
.card-body{
    padding:4px;
    height:20px;
}
.card-text{
    font-size:small;
}
.h5, h5 {
    font-size: 1rem;
}


