.container{
    margin-top:60px;
}

.logo-img{
    /* position:absolute; */
    /* left:25px; */
}

.navbar{
    margin-bottom:20px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    height:62px;

}

.nav-link {
    font-weight: 500;
    color: black;
    padding-top:4px;
}
.search-form-div{
    margin-top:12px;

}

.container{
    overflow:auto;
    padding-right:5px;
    padding-left:5px;
    margin-left:auto;
    margin-right:auto;

}
.title-above-carousel-slide {
    padding-left:10px;
    padding-right:10px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.text-above-carousel-slide{
    padding:5px;
    margin-left:5px;
    margin-top:20px;
    margin-bottom:10px;
}

.container-2-shoppinglist-page{
    margin-left:5px;
    margin-top:20px;
    margin-bottom:10px;
}
/* overflow:auto solved the problem of .navbar div white space on the right end of page */
.recipe-cards{
    margin-left:auto;
    margin-right:auto;
    flex-direction: row;
    justify-content: flex-start;
}

/* Maybe I should set this div to fix contents */
.recipe-card-div{
    height:285px;
    width:280px;
    padding-left:10px;
    padding-right:10px;
    margin-bottom: 0.25rem;
    background-color: rgb(254, 254, 254);
}

.recipe-card-content-div{
    /* height:330px;
    width:300px; */
    height:100%;
    width:100%;
    padding:0;
    background-color: rgb(254, 254, 254);
}

.card-btn-div{
    font-size:small;
    margin: 1px;
    padding: 1px;
    position: absolute; 
    top: 4px;
    right: 4px;
    /* width: 24px; */
    /* height: 34px; */
    /* background: #d54215; */
    /* border-radius: 50%; */
}

.no-underline{
    text-decoration: none;
}

.recipe-img {
    border-radius: 0.25rem;
    height: 190px;
    /* padding: 0px; */
}

.save-remove-btn, .remove-btn, .recipe-remove-btn-in-shoppinglist{
    display:flex;
    justify-content: center;
    align-items:center;
    width:34px;
    height:34px;
    border-radius: 50%;
    background-color: rgb(246, 246, 237);
    border:0px;
}

.save-remove-btn:hover,.remove-btn:hover, .recipe-remove-btn-in-shoppinglist:hover{
    background-color: rgb(207, 207, 199);
}

.bi-heart, .bi-dash-circle{
    font-size:17px;
    color:rgb(227, 33, 33);
}
.bi-heart-fill{
    font-size:18px;
    color:rgb(253, 143, 143);
}

.card-title{
    margin-top: 8px;
    padding-top:4px;
    padding-left:3px;
    padding-right:3px;
    margin-bottom: 4px;
    font-size:15px;
}
.card-title-href{
    color:navy;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    
}

.card-body{
    padding:4px;
    height:20px;
    font-weight: 500;
    background-color: rgb(254, 254, 254);

}
.card-text{
    font-size:0.8rem;
    padding-top:4px;
    padding-bottom: 2px;
}
.h5, h5 {
    font-size: 1rem;
}
h4{
    font-size: 1.25rem;
    /* margin-bottom: 15px; */
    margin-top: 15px;
    /* margin-bottom: 15px; */
}

.h4-title-above-p{
    margin-bottom: 15px;
}


/* Below Chunk for carousel slide for recipe cards */
/* body{
    padding:0;
    margin:0;
    box-sizing:border-box;
}  */
.recipe-card-container-for-scroll {
    /* display:flex;
    justify-content:center;
    align-items: center;
    background-color: #f9f9f9;
    height:100vh; */
    padding: 5px;
    margin:5px;
    /* width:98vw; */
    position:relative;
    } 
    
.recipe-card-horizontal-scroll {
    /* width:900px; */
    /* width:96vw; */
    height: 320px;
    background-color: #fff;
    border: 1px solid rgb(230, 230, 230);
    border-radius:5px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;

}

.recipes-cards-slide-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left:0;

}

.recipe-card-div-in-carousel {
    margin:10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
} 


.recipe-card-horizontal-scroll .btn-scroll {
    background: #fff;
    color: #999;
    box-shadow: 0 0 10px #999;
    padding: 5px 8px;
    border: 0;
    border-radius: 50%;
    margin:0px 5px;
    z-index: 1;
    cursor: pointer;
}

/* Below Chunk for carousel slide for browse by cuisines */
.browse-by-cuisines-container-for-scroll, .browse-by-specialdiets-container-for-scroll, .browse-by-courses-container-for-scroll{
    /* display:flex;
    justify-content:center;
    align-items: center;
    background-color: #f9f9f9;
    height:100vh; */
    padding: 5px;
    margin: 15px 5px 30px 5px;
    /* width:98vw; */
    position:relative;
    } 
.browse-by-cuisines-horizontal-scroll,.browse-by-specialdiets-horizontal-scroll, .browse-by-courses-horizontal-scroll {
    /* width:900px; */
    /* width:96vw; */
    height: 170px;
    background-color: #fff;
    border: 1px solid rgb(230, 230, 230);
    border-radius:5px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;

}

.cuisines-container, .specialdiets-container, .courses-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left:0;

}

.cuisine-circle,.specialdiet-circle, .course-circle {
    /* background: linear-gradient(rgb(231, 195, 184), rgba(255,115,0));
    width: 60px;
    height:60px; */
    margin:10px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
} 

.cuisine-circle img,.specialdiet-circle img, .course-circle img {
    width: 111px;
    height: 111px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-bottom:10px;
}

.cuisine-circle a, .specialdiet-circle a, .course-circle a {
    text-align:center;
    font-size:14px;
    font-weight: 500;
    color: rgb(8, 8, 188);

}


.browse-by-cuisines-horizontal-scroll .browse-by-cuisines-btn-scroll, .browse-by-courses-horizontal-scroll .browse-by-courses-btn-scroll {
    background: #fff;
    color: #999;
    box-shadow: 0 0 10px #999;
    padding: 5px 8px;
    border: 0;
    border-radius: 50%;
    margin:0px 5px;
    z-index: 1;
    cursor: pointer;
}


/* the following Chunk for recipe detail page */
.recipe-title-author-description{
    margin-top:10px;
    margin-bottom: 10px;
    margin-left:auto;
    margin-right:auto;
    flex-direction: row;
    justify-content: flex-start;
}

.recipe-summary-img-save-btn{
    height:400px;
    /* padding-left:10px;
    padding-right:10px; */
    margin-bottom: 0.25rem;
    background-color: rgb(254, 254, 254);
    margin-left:auto;
    margin-right:auto;
    /* border:1px solid rgba(0,0,0,.125); */
    border-radius: 0.25rem;
    position:relative;
    display:flex;
    flex-direction: row-reverse;
    text-align: center;

}
.recipe-summary-img-save-btn img {
    /* width: 300px; */
    height: 360px;
    border-radius: 1%;
    border: 2px solid #fff;
}

.adjust-btn{
    background: rgb(255, 255, 255);
    color:rgba(0,0,0,.95);
    border:1.7px solid rgb(214, 44, 44);
    border-radius: 4px;
    padding: 3px 15px;
    font-weight: 500;
}
.adjust-btn:hover, .add-ingredients-to-shoppinglist-btn:hover{
    background-color: rgb(192, 42, 42);
    color:rgb(255, 255, 255);
}

#servings-size-input{
    text-align: center;
    width: 70px;
    border-radius: 4px;
    border:1.5px solid rgba(47, 46, 46, 0.95);
    padding: 3px 15px;
}

.recipe-ingredient-li{
    padding: 1px;
    list-style: none;
}

.add-ingredients-to-shoppinglist-btn, .add-to-shoppinglist-btn{
    background: rgb(255, 255, 255);
    color:rgba(0,0,0,.95);
    border:2px solid rgb(214, 44, 44);
    border-radius: 4px;
    height:60px;
    width: fit-content;
    padding: 0px 20px;
    font-weight: 500;
    /* font-size: 14px; */
}

#add-to-shoppinglist-cart-icon{
    font-size:26px;
    color:rgb(227, 33, 33);
}

.step-num{
    padding-top:10px;
    padding-bottom: 10px;
    font-weight: 500;

}
.ingredient-icon{
    width:30px;
    height:30px;
}

.cuisine-icon{
    width:88px;
    height:88px;
    margin-bottom: 10px;
}

.ingredient-icon-container{
    margin-top:12px;
}
.ingredients-container{
    margin: 15px 2px;
    /* margin:2px; */
}
.ingredient-name-span{
    margin-left:8px;
    color:black;
  
}

.featured-recipe-left-card img{
    height:460px;
    width:100%;
}

.featured-recipe-left-card{
    /* height:100%; */
    width:100%;
    /* padding-left:10px;
    padding-right:10px; */
    margin-bottom: 0.25rem;
    background-color: rgb(254, 254, 254);
}

.card-body-featured-recipe-left{
    padding:4px;
    height:100px;
    background-color: rgb(254, 254, 254);
    font-weight:500;
}

.featured-recipe-right-card-div{
    height:270px;
    width:280px;
    padding-left:10px;
    padding-right:10px;
    margin-bottom: 0.25rem;
    background-color: rgb(254, 254, 254);
}
.featured-recipes-right{
    margin-left: 15px;
    margin-right:0;
}
.featured-recipes-div{
    padding: 5px;
    margin: 5px 5px 30px 5px;
    position:relative;
} 

.ingredient-remove, .direction-remove{
    background: none;
    border: none;
    display: inline-block;
    line-height: 0;
    padding: 0 0 0 8px;
}
.step-number-direction-div{
    display:flex;
    justify-content: start;
    position:relative;

}

/* below for add-recipe page */
.add-recipe-container{
    background-image:url(/static/img/herb1.jpg);
    background-repeat: no-repeat center center;
    background-size:cover;
    /* margin: 0 0 48px; */
    padding-top: 24px;
}
.add-recipe-inner-container{
    width: 800px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left:auto;
    margin-right:auto;
    padding: 35px 50px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 30%);
    display:flex;
    justify-content: center;
    border: 1px solid rgba(0,0,0,.2);

}
.add-recipe-form-heading{
    margin-bottom: 16px;
}
.add-svg{
    width:80px;
    height:80px;
}
.add-recipe-form-description{
    margin-bottom: 32px;
}
.add-recipe-form-section{
    border-top: 1px solid rgba(0,0,0,.15);
    padding: 28px 0;
}
.add-recipe-form-input-wrapper, .add-recipe-form-author-photoURL-wrapper, .add-recipe-form-servings-prep-cook-wrapper{
    width: 100%;
    margin-bottom: 32px;
}
.add-recipe-form-input-label{
    width: 100%;
    margin-bottom: 4px;
    font: normal 700 16px/24px "Source Sans Pro",sans-serif;
    letter-spacing: 0;
}
.add-recipe-form-input-text{
    width: 100%;
    font: 400 16px/24px "Source Sans Pro",sans-serif;
    letter-spacing: 0;
    min-height: 48px;
    padding: 0 16px;
    border: 1px solid rgba(0,0,0,.65);
    border-radius:4px;
}
.add-recipe-form-input-textarea{
    min-height: 168px;
    width: 100%;
    font: 400 16px/24px "Source Sans Pro",sans-serif;
    letter-spacing: 0;
    padding: 16px;
    resize: vertical;
    border: 1px solid rgba(0,0,0,.65);
    border-radius:4px;
    /* writing-mode: horizontal-tb !important; */

}
.add-recipe-input-dropdown{
    display:flex;
}

.prep-cook-time-label{
    text-align:center;
}
.prep-cook-time-input-dropdown{
    display:flex;
    justify-content:center;
}


.add-recipe-form-time-input{
    width: 90px;
    float: right;
    font: 400 16px/24px "Source Sans Pro",sans-serif;
    letter-spacing: 0;
    min-height: 48px;
    padding: 0 16px;
    border: 1px solid rgba(0,0,0,.65);
    border-radius:4px;
}
.add-recipe-form-timedropdown{
    padding: 0 16px;
    margin-left: 16px;
    width: 95px;
    min-height: 48px;
    border-radius:4px;
}
.add-recipe-category-dropdown, .ingredient-category-dropdown{
    padding: 0 16px;
    width: 200px;
    min-height: 48px;
    border-radius:4px;   
}
.add-recipe-form-section-title{
    margin-top: 0;
    margin-bottom: 8px;
    font: normal 700 16px/24px "Source Sans Pro",sans-serif;
    letter-spacing: 0;
}
.ingredient-subdiv-1, .ingredient-subdiv-2{
    display:flex;
    justify-content: start;
}

.ingredient-quantity-input{
    width: 125px;
    letter-spacing: 0;
    min-height: 48px;
    padding: 0 5px;
    border: 1px solid rgba(0,0,0,.65);
    border-radius:4px;
    margin-right:5px;
    margin-bottom: 5px;
}
.ingredient-unit-dropdown{
    margin-right:5px;
    margin-bottom:5px;
}
.ingredient-name-div{
    width:450px;
    margin-bottom: 5px;
}
.ingredient-category-label{
    width: 160px;
    letter-spacing: 0;
    min-height: 48px;
    border-radius:4px;
    margin-right:5px;
    padding-top:10px;
    /* text-align: center; */
    vertical-align: middle;
    display:table-cell;


}
.ingredient-remove-btn{
    /* margin-left: 120px; */
    display:flex;
    justify-content: center;
    align-items:center;
    width:34px;
    height:34px;
    border-radius: 50%;
    background-color: rgb(246, 246, 237);
    border:0px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.direction-remove-btn{
    display:flex;
    justify-content: center;
    align-items:center;
    width:34px;
    height:34px;
    border-radius: 50%;
    background-color: rgb(246, 246, 237);
    border:0px;
    position: absolute;
    top: 23px;
    right: 0px;
}
.ingredient-remove-btn:hover, .direction-remove-btn:hover{
    background-color: rgb(207, 207, 199);
}


.ingredient-subdiv-2{
    position:relative;
}

#add-ingredient-button, #add-cooking-step-button, #add-recipe-submit{
    background-color: rgb(255, 255, 255);
    /* color:rgba(0,0,0,.95); */
    border:2px solid rgb(214, 44, 44);
    border-radius: 4px;
    height:50px;
    width: fit-content;
    padding: 0px 20px;
    font-weight: 500;  
    margin-top:10px;
    font: normal 600 14px/22px "Source Sans Pro",sans-serif;

}
#add-recipe-submit{
    font: normal 600 18px/24px "Source Sans Pro",sans-serif;
}

#add-ingredient-button:hover, #add-cooking-step-button:hover, #add-recipe-submit:hover{
    background-color: rgb(192, 42, 42);
    color:rgb(255, 255, 255);
}

.ingredient-quantity-unit-name-category-div, .step-number-direction-div{
    margin-bottom:20px;

}

.step-and-number{
    padding-top:28px;
}


.step-guidance-textarea{
    min-height: 60px;
    width: 83%;
    font: 400 16px/24px "Source Sans Pro",sans-serif;
    letter-spacing: 0;
    padding: 16px;
    margin-left:20px;
    resize: vertical;
    border: 1px solid rgba(0,0,0,.65);
    border-radius:4px;
    /* writing-mode: horizontal-tb !important; */

}

.ingredient-category{
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top:10px;
    border-top: 1px solid rgba(0,0,0,.10);
    font-size: 1rem;
    color: #2d2d2d;
    font-weight: bold;
    font-family: "Source Sans Pro",Arial;
    min-height: 48px;
}

.ingredient-category-name-span{
    padding-left:15px;
    padding-top:10px;
    margin-top:10px;
    padding-bottom: 0;
}
.ingredient-items{
    margin-left:5px;
    margin-top:10px;
}
.ingredient-item{
    margin-left:5px;
    margin-top:10px;
}

.ingredient-associated-recipes-div{
    margin-top:8px;
    margin-left:30px;
}
.ingredient-associated-recipe-title-btn{
    margin-right:10px;
}
.ingredient-info{
    padding-left:10px;
    color: #2d2d2d;
    /* font-weight: 500; */
    /* font-family: "Source Sans Pro",Arial; */
    font: 400 16px/24px "Source Sans Pro",sans-serif;

}