
.container{
    overflow:auto;
    padding-right:5px;
    padding-left:5px;
    margin-left:auto;
    margin-right:auto;

}
.text-above-recipe-cards{
    padding-left:10px;
    padding-right:10px;
    margin-top: 1rem;
    margin-bottom: 0.1rem;
}

/* overflow:auto solved the problem of .navbar div white space on the right end of page */
.recipe-cards{
    margin-left:auto;
    margin-right:auto;
    flex-direction: row;
    justify-content: flex-start;
}

/* Maybe I should set this div to fix contents */
.recipe-card-div{
    height:280px;
    width:280px;
    padding-left:10px;
    padding-right:10px;
    margin-bottom: 0.25rem;

}

.recipe-card-content-div{
    /* height:330px;
    width:300px; */
    height:100%;
    width:100%;
    padding:0;
}

.card-btn-div{
    font-size:small;
    margin: 1px;
    padding: 1px;
    position: absolute; 
    top: 4px;
    right: 4px;
    /* width: 24px; */
    /* height: 34px; */
    /* background: #d54215; */
    /* border-radius: 50%; */
}

.no-underline{
    text-decoration: none;
}

.recipe-img {
    border-radius: 0.25rem;
    height: 190px;
    /* padding: 0px; */
}

.save-remove-btn, .remove-btn{
    display:flex;
    justify-content: center;
    align-items:center;
    width:34px;
    height:34px;
    border-radius: 50%;
    background-color: rgb(247, 247, 237);
    border:0px;
}

.save-remove-btn:hover,.remove-btn:hover{
    background-color: rgb(207, 207, 199);
}

.bi-heart, .bi-dash-circle{
    font-size:17px;
    color:rgb(227, 33, 33);
}
.bi-heart-fill{
    font-size:18px;
    color:rgb(253, 143, 143);
}

.card-title{
    margin-top: 8px;
    margin-bottom: 12px;
}

.card-body{
    padding:4px;
    height:20px;
}
.card-text{
    font-size:0.75rem;
}
.h5, h5 {
    font-size: 1rem;
}
h4{
    font-size: 1.25rem;
}


/* Below Chunk for carousel slide for recipe cards */
/* body{
    padding:0;
    margin:0;
    box-sizing:border-box;
}  */
.container-for-scroll{
    /* display:flex;
    justify-content:center;
    align-items: center;
    background-color: #f9f9f9;
    height:100vh; */
    padding: 5px;
    margin:5px;
    /* width:98vw; */
    position:relative;
    } 
    
.horizontal-scroll {
    /* width:900px; */
    /* width:96vw; */
    height: 320px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius:5px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;

}

.recipes-cards-slide-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    left:0;

}

.recipe-card-div-in-carousel {
    margin:10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
} 


.horizontal-scroll .btn-scroll {
    background: #fff;
    color: #999;
    box-shadow: 0 0 10px #999;
    padding: 5px 8px;
    border: 0;
    border-radius: 50%;
    margin:0px 5px;
    z-index: 1;
    cursor: pointer;
}