<!-- {% extends 'browse_base.html' %}
{% block title %}Cuisines {% endblock %}

{% block body %} -->

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Browse</title>
    <link rel="stylesheet" href="/static/css/cuisines.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  </head>

<body>

<div class="container-for-scroll">
    <div class="horizontal-scroll">
        <button class="btn-scroll" id="btn-scroll-left" onclick="scrollHonrizontally(1)">
           <i class="fas fa-chevron-left"></i>
        </button>
        <div class="cuisines-container">
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/1.jfif" alt="1"></div>
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/2.jfif" alt="1"></div>
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/3.jfif" alt="1"></div>
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/4.jfif" alt="1"></div>
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/5.jfif" alt="1"></div>
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/6.jfif" alt="1"></div>
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/7.jfif" alt="1"></div>
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/8.jfif" alt="1"></div>
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/9.jfif" alt="1"></div>
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/10.jfif" alt="1"></div>
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/11.jfif" alt="1"></div>
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/12.jfif" alt="1"></div>
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/13.jfif" alt="1"></div>
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/14.jfif" alt="1"></div>
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/15.jfif" alt="1"></div>
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/16.jfif" alt="1"></div>
        </div>
        <button class="btn-scroll" id="btn-scroll-right" onclick="scrollHonrizontally(-1)">
            <i class="fas fa-chevron-right"></i>
        </button>
       
    </div>
</div>

<!-- <script src="/static/js/browse.js"></script> -->
<script>
    let currentScrollPosition = 0;
    let scrollAmount = 320;

    const sCont = document.querySelector(".cuisines-container");
    const hScroll = document.querySelector(".horizontal-scroll");
    let maxScroll = -sCont.offsetWidth+ hScroll.offsetWidth;
    function scrollHonrizontally(val){
        currentScrollPosition += (val*scrollAmount);
        if (currentScrollPosition >0){
            currentScrollPosition = 0;
        }
        if (currentScrollPosition<maxScroll){
            currentScrollPosition = maxScroll;
        }
        sCont.style.left = currentScrollPosition + 'px';

    }
</script>
</body>
</html>

<!-- {% endblock %} -->