{% extends 'browse_base.html' %}
{% block title %}Cuisines {% endblock %}

{% block body %}

<!-- the following commented out container-for-scroll was used to design carousel slide using some 1-16 dog pictures -->
<!-- 
<div class="container-for-scroll">
    <div class="horizontal-scroll">
        <button class="btn-scroll" id="btn-scroll-left" onclick="scrollHonrizontally(1)">
           <i class="fas fa-chevron-left"></i>
        </button>
        <div class="cuisines-container">
            <div class="cuisine-circle">
                <a href="/{cuisine_recipes}">
                    <img src="/static/img/cuisines-img/1.jfif" alt="1">
                    American
                </a>
            </div>
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/2.jfif" alt="1"></div>
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/3.jfif" alt="1"></div>
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/4.jfif" alt="1"></div>
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/5.jfif" alt="1"></div>
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/6.jfif" alt="1"></div>
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/7.jfif" alt="1"></div>
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/8.jfif" alt="1"></div>
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/9.jfif" alt="1"></div>
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/10.jfif" alt="1"></div>
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/11.jfif" alt="1"></div>
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/12.jfif" alt="1"></div>
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/13.jfif" alt="1"></div>
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/14.jfif" alt="1"></div>
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/15.jfif" alt="1"></div>
            <div class="cuisine-circle"><img src="/static/img/cuisines-img/16.jfif" alt="1"></div>
        </div>
        <button class="btn-scroll" id="btn-scroll-right" onclick="scrollHonrizontally(-1)">
            <i class="fas fa-chevron-right"></i>
        </button>
       
    </div>
</div> -->

<div class="container-for-scroll">
    <div class="horizontal-scroll">
        <button class="btn-scroll" id="btn-scroll-left" onclick="scrollHonrizontally(1)">
           <i class="fas fa-chevron-left"></i>
        </button>
        <div class="cuisines-container">
            {% for cuisine_type in allrecipes_allcuisines %}
            <div class="cuisine-circle">
                <a href="/cuisines/{{cuisine_type}}">
                    <img src= "/static/img/cuisines-img/{{cuisine_type}}.jfif" alt="{{cuisine_type}}">
                    {{cuisine_type}}
                </a>
            </div>
            {% endfor %}
        </div>
        <button class="btn-scroll" id="btn-scroll-right" onclick="scrollHonrizontally(-1)">
            <i class="fas fa-chevron-right"></i>
        </button>
       
    </div>
</div>

<!-- <div>
    {% for cuisine_type in allrecipes_allcuisines %}
    <div>
        <a href="/cuisines/{{cuisine_type}}">
            <img src= "/static/img/cuisines-img/{{cuisine_type}}.jfif" alt="{{cuisine_type}}">
            {{cuisine_type}}
        </a>
    </div>


    {% endfor %}
</div> -->

<script src="/static/js/browse.js"></script>

{% endblock %}