{% extends 'browse_base.html' %}
{% block title %}Cuisines {% endblock %}

{% block body %}


<div class="container-for-scroll">
    <div class="horizontal-scroll">
       <button class="btn-scroll" id="btn-scroll-left" onclick="scrollHonrizontally(1)">
           <i class="fas fa-chevron-left"></i>
       </button>
       <button class="btn-scroll" id="btn-scroll-right" onclick="scrollHonrizontally(-1)">
            <i class="fas fa-chevron-right"></i>
       </button>
       <div class="Cuisines-containers">
           <div class="cuisine-circle"><img src="/static/img/cuisines-img/1.jfif" alt="1"></div>
           <div class="cuisine-circle"><img src="/static/img/cuisines-img/2.jfif" alt="1"></div>
           <div class="cuisine-circle"><img src="/static/img/cuisines-img/3.jfif" alt="1"></div>
           <div class="cuisine-circle"><img src="/static/img/cuisines-img/4.jfif" alt="1"></div>
           <div class="cuisine-circle"><img src="/static/img/cuisines-img/5.jfif" alt="1"></div>
           <div class="cuisine-circle"><img src="/static/img/cuisines-img/6.jfif" alt="1"></div>
           <div class="cuisine-circle"><img src="/static/img/cuisines-img/7.jfif" alt="1"></div>
           <div class="cuisine-circle"><img src="/static/img/cuisines-img/8.jfif" alt="1"></div>
           <div class="cuisine-circle"><img src="/static/img/cuisines-img/9.jfif" alt="1"></div>
           <div class="cuisine-circle"><img src="/static/img/cuisines-img/10.jfif" alt="1"></div>
           <div class="cuisine-circle"><img src="/static/img/cuisines-img/11.jfif" alt="1"></div>
           <div class="cuisine-circle"><img src="/static/img/cuisines-img/12.jfif" alt="1"></div>
           <div class="cuisine-circle"><img src="/static/img/cuisines-img/13.jfif" alt="1"></div>
           <div class="cuisine-circle"><img src="/static/img/cuisines-img/14.jfif" alt="1"></div>
           <div class="cuisine-circle"><img src="/static/img/cuisines-img/15.jfif" alt="1"></div>
           <div class="cuisine-circle"><img src="/static/img/cuisines-img/16.jfif" alt="1"></div>

        </div>
    </div>
</div>

{% endblock %}