{% extends 'base.html' %}
{% block title %}Yummy Recipe Home{% endblock %}

{% block body %}

<div  class="title-above-carousel-slide">
  <h4>Most-Saved Recipes</h4>
</div>

<div class="recipe-card-container-for-scroll">
  <div class="recipe-card-horizontal-scroll">
      <button class="btn-scroll" id="btn-scroll-left" onclick="scrollHonrizontally(1)">
         <i class="fas fa-chevron-left"></i>
      </button>
      <div class="recipes-cards-slide-container recipe-cards">
          {% for recipe in recipes_cuisines %}
          <div class="recipe-card-div-in-carousel col-xs-12 col-sm-6 col-md-6 col-lg-4 mt-3 recipe-card-div">
            <div class="card text-center recipe-card-content-div">
              <a href="/recipe/{{recipe.recipe_id}}" class="no-underline">
                <img class="card-img-top img-circle recipe-img" src="{{ recipe.photo_url }}">
              </a>
              {% if session.get("logged_in_user_email") %}
                {% if recipe in current_user.saved_recipes %}
                <div class="card-btn-div">
                  <button class="save-remove-btn" data-recipe-id="{{ recipe.recipe_id }}" method="POST"><i id="save-remove-icon" class="bi bi-heart-fill"></i></button>
                </div>
                {% else %}
                <div class="card-btn-div">
                  <button class="save-remove-btn" data-recipe-id="{{ recipe.recipe_id }}" method="POST"><i id="save-remove-icon" class="bi bi-heart"></i></button>
                </div>
                {% endif %}
              {% else %}
                <div class="card-btn-div">
                  <button class="save-remove-btn" data-recipe-id="{{ recipe.recipe_id }}" method="POST"><i id="save-remove-icon" class="bi bi-heart"></i></button>
                </div>
              {% endif %}
  
              <div class="card-body">
                  <div class="card-text">prep {{recipe.prep_time}} | cook {{recipe.cook_time}}</div>
                  <h5 class="card-title"><a href="/recipe/{{recipe.recipe_id}}" class="no-underline">{{ recipe.title }}</a></h5>
                  <div class="card-text">
                    {{ recipe.cuisine.name }}
                    {% for course in recipe.courses %} 
                     | {{course.name}}
                    {% endfor %}
                  </div>
              </div>              
          
            </div>
          </div>
          {% endfor %}
      </div>
      <button class="btn-scroll" id="btn-scroll-right" onclick="scrollHonrizontally(-1)">
          <i class="fas fa-chevron-right"></i>
      </button> 
  </div>
</div>
<!-- <script src="/static/js/app_events.js"></script> -->


<div  class="title-above-carousel-slide">
  <h4>Browse By Cuisines</h4>
</div>

<div class="browse-by-cuisines-container-for-scroll">
  <div class="browse-by-cuisines-horizontal-scroll">
      <button class="browse-by-cuisines-btn-scroll" id="btn-scroll-left" onclick="browseByCuisineScrollHonrizontally(1)">
         <i class="fas fa-chevron-left"></i>
      </button>
      <div class="cuisines-container">
          {% for cuisine_type in allrecipes_allcuisines %}
          <div class="cuisine-circle">
              <a href="/cuisines/{{cuisine_type}}" class="no-underline">
                  <img src= "/static/img/cuisines-img/{{cuisine_type}}.jfif" alt="{{cuisine_type}}">
                  {{cuisine_type}}
              </a>
          </div>
          {% endfor %}
      </div>
      <button class="browse-by-cuisines-btn-scroll" id="btn-scroll-right" onclick="browseByCuisineScrollHonrizontally(-1)">
          <i class="fas fa-chevron-right"></i>
      </button>
     
  </div>
</div>
<script src="/static/js/browse_by_cuisines.js"></script>


<div  class="title-above-carousel-slide">
  <h4>Browse By Special Diets</h4>
</div>

<div class="browse-by-specialdiets-container-for-scroll">
  <div class="browse-by-specialdiets-horizontal-scroll">

      <div class="specialdiets-container">
          {% for specialdiet_type in allrecipes_allspecialdiets %}
          <div class="specialdiet-circle">
              <a href="/specialdiets/{{specialdiet_type}}" class="no-underline">
                  <img src= "/static/img/specialdiets-img/{{specialdiet_type}}.jfif" alt="{{specialdiet_type}}">
                  <div>{{specialdiet_type}}</div>
              </a>
          </div>
          {% endfor %}
      </div>
     
  </div>
</div>


<div  class="title-above-carousel-slide">
  <h4>Browse By Courses</h4>
</div>

<div class="browse-by-courses-container-for-scroll">
  <div class="browse-by-courses-horizontal-scroll">
      <button class="browse-by-courses-btn-scroll" id="btn-scroll-left" onclick="browseByCourseScrollHonrizontally(1)">
         <i class="fas fa-chevron-left"></i>
      </button>
      <div class="courses-container">
          {% for course_type in allrecipes_allcourses %}
          <div class="course-circle">
              <a href="/courses/{{course_type}}" class="no-underline">
                  <img src= "/static/img/courses-img/{{course_type}}.jfif" alt="{{course_type}}">
                  {{course_type}}
              </a>
          </div>
          {% endfor %}
      </div>
      <button class="browse-by-courses-btn-scroll" id="btn-scroll-right" onclick="browseByCourseScrollHonrizontally(-1)">
          <i class="fas fa-chevron-right"></i>
      </button>
     
  </div>
</div>
<script src="/static/js/browse_by_courses.js"></script>


<br/>
<br/>
<br/>
<br/>

<div  class="title-above-carousel-slide">
  <h4>Browse By Popular Ingredients</h4>
</div>

<br/>
<br/>
<br/>
<br/>


{% endblock %}
