{% extends 'base.html' %}
{% block title %}Yummy Recipe Home{% endblock %}

{% block body %}

{% for recipe in recipes_cuisines %}
<div>
  <img src="{{ recipe.photo_url}}">
  <div>
    <form id="add-to-saved-form" action="/add-to-saved" method="post">
      <!-- <input id="add-to-saved-input" name="add-to-saved" value="{{recipe}}"> -->
      <button id="add-to-saved-btn" type="submit" value="{{recipe.recipe_id}}">Add to Saved</button>
    </form> 
  </div>
  {{recipe.title}} # {{recipe.cuisine.name}} 
  {% for course in recipe.courses %} 
  #{{course.name}}
  {% endfor %}
  
</div>

{% endfor %}

{% endblock %}
