{% extends 'base.html' %}

{% block title %}{{ recipe.title }} - Details{% endblock %}

{% block body %}

<div class="recipe-title-author-description">
  <h2>{{ recipe.title }}</h2>
  <p>by {{recipe.author}}</p>
  
  <h4>Description</h4>
  <div>
    {{ recipe.description }}
  </div>
</div>

<div class="recipe-summary-img-save-btn">
  <div class="recipe-img-save-btn-text-under-img">
    <img src="{{ recipe.photo_url }}">
    {% if (session.get("logged_in_user_email")) and (recipe in current_user.saved_recipes) %}
    <div class="card-btn-div">
      <button class="save-remove-btn" data-recipe-id="{{ recipe.recipe_id }}" method="POST"><i id="save-remove-icon" class="bi bi-heart-fill"></i></button>
    </div>
    {% else %}
    <div class="card-btn-div">
      <button class="save-remove-btn" data-recipe-id="{{ recipe.recipe_id }}" method="POST"><i id="save-remove-icon" class="bi bi-heart"></i></button>
    </div>
    {% endif %}
  
    <div>
      {{ recipe.cuisine.name }} |
      {% for specialdiet in recipe.specialdiets %}
      |{{specialdiet.name}}
      {% endfor %}
    </div>
  </div>

  <div class="recipe-summary-card">
    <div> Prep: {{recipe.prep_time}}</div>
    <div> Cook: {{recipe.cook_time}}</div>
    {% set prep_time_list = recipe.prep_time.split(' ') %}
    {% set cook_time_list = recipe.cook_time.split(' ') %}

    {% if (prep_time_list[1] =="days") and (cook_time_list[1]=="days") %}
      <div> Total: {{prep_time_list[0]+cook_time_list[0]}} days</div>
    {% elif prep_time_list[1] =="days" %}  
      <div> Total: {{recipe.prep_time}} {{recipe.cook_time}} </div>
    {% elif cook_time_list[1] =="days" %}  
      <div> Total: {{recipe.cook_time}} {{recipe.prep_time}} </div>
    {% elif prep_time_list[1] != prep_time_list[1] %}
      {% if prep_time_list[1] == "hours" %}
      <div> Total: {{recipe.prep_time}} {{recipe.cook_time}}  </div>
      {% elif cook_time_list[1] == "hours" %}
      <div> Total: what is {{recipe.cook_time}} xx{{recipe.prep_time}} </div>
      {% endif %}

    {% else %}
    <div> Total: {{prep_time_list[0]+cook_time_list[0]}} ?? {{prep_time_list[1]}} </div>

    {% endif %}

    <div> Servings: {{recipe.servings}}</div>

  </div>


</div>




<div>
  Prep: {{recipe.prep_time}}
  Cook: {{recipe.cook_time}}
  Total: TBD
  Yield: {{recipe.servings}} servings
</div>
<h4>Ingredients</h4>

<h5>Serving Size: {{recipe.servings}}</h5>
<div>
  {% for ingredient in recipe.recipe_ingredients %}
    <div> {{ingredient.quantity}} {{ingredient.unit.name}} {{ingredient.name}}</div>
  {% endfor %}
</div>

<div>
  <form action="/add-to-shoppinglist/{{ recipe.recipe_id }}" method="POST">
    <input type="submit" value="Add all ingredients to shopping List">
  </form>
</div>


<h4>Directions</h4>
<div>
  {% for direction in recipe.recipe_directions %}
    <div> Step {{direction.step_number}}: {{direction.step_guidance}}</div>
  {% endfor %}
</div>

{% endblock %}
