{% extends 'browse_base.html' %}
{% block title %} {{cuisine_type}} {% endblock %}


{% block body %}

<div class="recipe-cards row"> 
    {% for recipe in recipes_of_the_cuisine_type %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mt-3 recipe-card-div">
  
            <div class="card text-center bg-light recipe-card-content-div">
              <a href="/recipe/{{recipe.recipe_id}}">
                  <img class="card-img-top img-circle recipe-img" src="{{ recipe.photo_url }}">
              </a>
              <div class="card-btn-div">
                <form action="/add-to-saved/{{ recipe.recipe_id }}" method="POST">
                  <input type="submit" value="Save">
                </form>
              </div>
              <div class="card-body">
                  <h5 class="card-title"><a href="/recipe/{{recipe.recipe_id}}">{{ recipe.title }}</a></h5>
                  <div class="card-text">
                    #{{ recipe.cuisine.name }}
                    {% for course in recipe.courses %} 
                    #{{course.name}}
                    {% endfor %}
                  </div>
              </div>
            </div>
        </div>
    {% endfor %}
  </div>

{% endblock %}