{% extends 'base.html' %}
{% block title %} {{cuisine_type}} {% endblock %}


{% block body %}

<div  class="title-above-carousel-slide">
  <h4>Browse By Courses</h4>
</div>

<div class="browse-by-courses-container-for-scroll">
  <div class="browse-by-courses-horizontal-scroll">
      <button class="browse-by-courses-btn-scroll" id="btn-scroll-left" onclick="browseByCourseScrollHonrizontally(1)">
         <i class="fas fa-chevron-left"></i>
      </button>
      <div class="courses-container">
          {% for course_type in allrecipes_allcourses %}
          <div class="course-circle">
              <a href="/courses/{{course_type}}" class="no-underline">
                  <img src= "/static/img/courses-img/{{course_type}}.jfif" alt="{{course_type}}">
                  {{course_type}}
              </a>
          </div>
          {% endfor %}
      </div>
      <button class="browse-by-courses-btn-scroll" id="btn-scroll-right" onclick="browseByCourseScrollHonrizontally(-1)">
          <i class="fas fa-chevron-right"></i>
      </button>
     
  </div>
</div>
<script src="/static/js/browse_by_courses.js"></script>



<div  class="title-above-carousel-slide">
  <h4>{{course_type}} Recipes</h4>
</div>

<div class="recipe-cards row"> 
  {% for recipe in recipes_of_the_course_type %}
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mt-3 recipe-card-div">
        <div class="card text-center bg-light recipe-card-content-div">
          <a href="/recipe/{{recipe.recipe_id}}" class="no-underline">
            <img class="card-img-top img-circle recipe-img" src="{{ recipe.photo_url }}">
          </a>
          {% if session.get("logged_in_user_email") %}
            {% if recipe in current_user.saved_recipes %}
            <div class="card-btn-div">
              <button class="save-remove-btn" data-recipe-id="{{ recipe.recipe_id }}" method="POST"><i id="save-remove-icon" class="bi bi-heart-fill"></i></button>
            </div>
            {% else %}
            <div class="card-btn-div">
              <button class="save-remove-btn" data-recipe-id="{{ recipe.recipe_id }}" method="POST"><i id="save-remove-icon" class="bi bi-heart"></i></button>
            </div>
            {% endif %}
          {% else %}
            <div class="card-btn-div">
              <button class="save-remove-btn" data-recipe-id="{{ recipe.recipe_id }}" method="POST"><i id="save-remove-icon" class="bi bi-heart"></i></button>
            </div>
        {% endif %}

        <div class="card-body">
            <div class="card-text">prep {{recipe.prep_time}} | cook {{recipe.cook_time}}</div>
            <h5 class="card-title"><a href="/recipe/{{recipe.recipe_id}}" class="card-title-href no-underline">{{ recipe.title }}</a></h5>
            <!-- <div class="card-text">
              {{ recipe.cuisine.name }}
              {% for specialdiet in recipe.specialdiets %} 
                | {{specialdiet.name}}
              {% endfor %}
            </div> -->
        </div>
        </div>
    </div>
  {% endfor %}
</div>
<script src="/static/js/app_events.js"></script>


{% endblock %}