{% extends 'base.html' %}
{% block title %}Yummy Recipe Home{% endblock %}

{% block body %}


<div class="saved-recipe-page-container">

<div  class="title-above-carousel-slide">
  <h5> You have <span id="saved-recipe-quantity">{{saved_recipes | length}}</span> saved recipes  </h5>
</div>

{% if saved_recipes %}
<div class="recipe-cards-div-container">
  <div class="recipe-cards row"> 
    {% for recipe in saved_recipes %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mt-3 recipe-card-div">
            <div class="card text-center bg-light recipe-card-content-div">
              <a href="/recipe/{{recipe.recipe_id}}" class="no-underline">
                <img class="card-img-top img-circle recipe-img" src="{{ recipe.photo_url }}">
              </a>
              <div class="card-btn-div">
                <button class="remove-btn" data-recipe-id="{{ recipe.recipe_id }}" method="POST"><i id="save-remove-icon" class="bi bi-dash-circle"></i></button>
              </div>
  
              <div class="card-body">
                  <div class="card-text">prep {{recipe.prep_time}} | cook {{recipe.cook_time}}</div>
                  <h5 class="card-title"><a href="/recipe/{{recipe.recipe_id}}" class="no-underline card-title-href">{{ recipe.title }}</a></h5>

              </div>
            </div>
        </div>
    {% endfor %}
  </div>
{% endif %}

<script src="/static/js/app_events.js"></script>

</div> 
</div>

{% endblock %}
