{% extends 'base.html' %}
{% block title %}Yummy Recipe Home{% endblock %}

{% block body %}

<h5>
  {{saved_recipes | length}} saved recipes
</h5>

{% if saved_recipes %}
  <div id="saved-recipe-list" class="row">
    {% for recipe in saved_recipes %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 saved-recipe-summary mt-3">

            <div class="card text-center bg-light">
              <a href="/recipe/{{recipe.recipe_id}}">
                  <img class="card-img-top img-circle recipe-img" src="{{ recipe.photo_url }}">
              </a>
              <div class="card-text">
                <form action="/remove-from-saved/{{ recipe.recipe_id }}" method="POST">
                  <button type="submit">Remove</button>
                </form>
              </div>
              <div class="card-body">
                  <h5 class="card-title"><a href="/recipe/{{recipe.recipe_id}}">{{ recipe.title }}</a></h5>
                  <div class="price card-text">
                    #{{ recipe.cuisine.name }}
                    {% for course in recipe.courses %} 
                    #{{course.name}}
                    {% endfor %}
                  </div>
              </div>
            </div>
        </div>
    {% endfor %}
  </div>
  <!-- {% for recipe in saved_recipes %}
  <div>
    <img src="{{ recipe.photo_url}}">
    <div>
      <form action="/remove-from-saved/{{ recipe.recipe_id }}" method="POST">
        <button type="submit">Remove</button>
      </form>
    </div>
    {{recipe.title}} # {{recipe.cuisine.name}} 
    {% for course in recipe.courses %} 
    #{{course.name}}
    {% endfor %}
  </div>

  {% endfor %} -->
{% endif %}

{% endblock %}
