{% extends 'base.html' %}
{% block title %}Search Outcome{% endblock %}

{% block body %}



<div  class="title-above-carousel-slide">
  <h5>
    {{search_returned_recipes | length}} results
  </h5>
</div>

{% if search_returned_recipes %}
  <!-- <div class="recipe-cards row">
    {% for recipe in search_returned_recipes %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mt-3 recipe-card-div">

            <div class="card text-center bg-light recipe-card-content-div">
              <a href="/recipe/{{recipe.recipe_id}}">
                  <img class="card-img-top img-circle recipe-img" src="{{ recipe.photo_url }}">
              </a>
              <div class="card-btn-div">
                <form action="/add-to-saved/{{ recipe.recipe_id }}" method="POST">
                  <input type="submit" value="Save">
                </form>
              </div>
              <div class="card-body">
                  <h5 class="card-title"><a href="/recipe/{{recipe.recipe_id}}">{{ recipe.title }}</a></h5>
                  <div class="card-text">
                    #{{ recipe.cuisine.name }}
                    {% for course in recipe.courses %} 
                    #{{course.name}}
                    {% endfor %}
                  </div>
              </div>
            </div>
        </div>
    {% endfor %}
  </div> -->
  <div class="recipe-cards row"> 
    {% for recipe in search_returned_recipes %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 mt-3 recipe-card-div">
            <div class="card text-center bg-light recipe-card-content-div">
              <a href="/recipe/{{recipe.recipe_id}}" class="no-underline">
                <img class="card-img-top img-circle recipe-img" src="{{ recipe.photo_url }}">
              </a>
              {% if recipe in current_user.saved_recipes %}
              <div class="card-btn-div">
                <button class="save-remove-btn" data-recipe-id="{{ recipe.recipe_id }}" method="POST"><i id="save-remove-icon" class="bi bi-heart-fill"></i></button>
              </div>
              {% else %}
              <div class="card-btn-div">
                <button class="save-remove-btn" data-recipe-id="{{ recipe.recipe_id }}" method="POST"><i id="save-remove-icon" class="bi bi-heart"></i></button>
              </div>
              {% endif %}
  
              <div class="card-body">
                  <div class="card-text">prep {{recipe.prep_time}} | cook {{recipe.cook_time}}</div>
                  <h5 class="card-title"><a href="/recipe/{{recipe.recipe_id}}" class="no-underline card-title-href">{{ recipe.title }}</a></h5>
                  <!-- <div class="card-text">
                    {{ recipe.cuisine.name }}
                    {% for course in recipe.courses %} 
                     | {{course.name}}
                    {% endfor %}
                  </div> -->
              </div>
            </div>
        </div>
    {% endfor %}
  </div>
  {% endif %}

{% endblock %}
