{% extends 'base.html' %}
{% block title %}Shopping List{% endblock %}

{% block body %}

<div class="container-1-shoppinglist-page">
<div class="text-above-carousel-slide">
    You have {{recipe_instance_servings_dict | length}} recipes in your shopping list!
</div>

{% if recipe_instance_servings_dict %}

<div class="recipe-card-container-for-scroll">
    <div class="recipe-card-horizontal-scroll">
        <button class="btn-scroll" id="btn-scroll-left" onclick="scrollHonrizontally(1)">
           <i class="fas fa-chevron-left"></i>
        </button>
        <div class="recipes-cards-slide-container recipe-cards">
            {% for recipe, servings in recipe_instance_servings_dict.items() %}
            <div class="recipe-card-div-in-carousel col-xs-12 col-sm-6 col-md-6 col-lg-4 mt-3 recipe-card-div">
              <div class="card text-center recipe-card-content-div">
                <a href="/recipe/{{recipe.recipe_id}}" class="no-underline">
                  <img class="card-img-top img-circle recipe-img" src="{{ recipe.photo_url }}">
                </a>
                <div class="card-btn-div">
                    <button class="remove-btn" data-recipe-id="{{ recipe.recipe_id }}" method="POST"><i id="save-remove-icon" class="bi bi-dash-circle"></i></button>
                </div>
                <div class="card-body">
                    <!-- <div class="card-text">prep {{recipe.prep_time}} | cook {{recipe.cook_time}}</div> -->
                    <h5 class="card-title"><a href="/recipe/{{recipe.recipe_id}}" class="no-underline">{{ recipe.title }}</a></h5>
                    <div class="card-text">
                        current servings : {{servings[0]}} |
                        original servings: {{servings[1]}}
                    </div>
                </div>              
            
              </div>
            </div>
            {% endfor %}
        </div>
        <button class="btn-scroll" id="btn-scroll-right" onclick="scrollHonrizontally(-1)">
            <i class="fas fa-chevron-right"></i>
        </button> 
    </div>
  </div>
  <script src="/static/js/app_events.js"></script>
</div>


<div class="container-2-shoppinglist-page">
<h4>Shopping List</h4>
<div>
    {% for category_name in ingredients_for_all_shopping_recipes %}

        <div class="ingredient-category">
            <svg class="icon ingredient-icon">
                <use xlink:href="static/img/ingredient_categories.svg#{{category_name}}"/>
              </svg> 
            <span class="ingredient-category-name-span"> {{category_name}}</span>    
        </div>
        <div class="ingredient-items">
            {% for ingredient_name in ingredients_for_all_shopping_recipes[category_name] %}
                {% if ingredients_for_all_shopping_recipes[category_name].get(ingredient_name) == 0 %}
                    <div class="ingredient-item">
                        <i class="bi bi-circle"></i>
                        <span class="ingredient-info-span"> {{ingredient_name}}</span>
                        
                    </div>
                {% else %}    
                    <div class="ingredient-item">
                        <i class="bi bi-circle"></i>
                        <span class="ingredient-info-span"> 
                            {{ingredient_name}}: {{ingredients_for_all_shopping_recipes[category_name].get(ingredient_name)}}
                        </span>

                        
                    </div>
                {% endif %}

            {% endfor %}
        </div>

    {% endfor %}
</div>
</div>
{% endif %}

{% endblock %}
