{% extends 'base.html' %}
{% block title %}Shopping List{% endblock %}

{% block body %}

    <h2>
        Hello {{logged_in_user.name}}! 
    </h2>
    <h5>
        You have {{shopping_recipes | length}} recipes in your shopping list.
    </h5>
    {% if shopping_recipes %}
    <div>
        {% for recipe in shopping_recipes %}
        <div>
            <a href="/recipe/{{recipe.recipe_id}}">{{recipe.title}}</a>
        </div>
        {% endfor %}
    </div>
    <div>
        {% for category_name in ingredients_for_all_shopping_recipes %}
            <li>{{category_name}}</li>
                {% for ingredient_name in ingredients_for_all_shopping_recipes[category_name] %}
                    {% if ingredients_for_all_shopping_recipes[category_name].get(ingredient_name) == 0 %}
                        <div>
                            {{ingredient_name}}
                        </div>
                    {% else %}    
                        <div>
                            {{ingredient_name}}: {{ingredients_for_all_shopping_recipes[category_name].get(ingredient_name)}}
                        </div>
                    {% endif %}

                {% endfor %}

        {% endfor %}
    </div>

    {% endif %}

{% endblock %}
